MONGO_URI=mongodb://mongo:27017/love-coin-xxx-pool
JWT_SECRET=super-secret-love-coin-xxx-moon-key-2026
NOWPAYMENTS_API_KEY=your_real_key
LOVENFT_ADDRESS=0xYourDeployedLoveNFTAddress
BACKEND_WALLET_PRIVATE_KEY=0xYourBackendWalletPrivateKey
